/*  CSS FOR DE FAKTISKE ARTIKLER */

.artikler_overskrift{
    display: table;
    font-size: 2rem;
    color: rgba(255, 255, 255, .9);
    text-shadow: 2px 2px black;
    border-bottom: solid orange 0.1rem;
    margin: auto;
    padding: 10px;
    padding-bottom: 5px;
    margin-top: 15vh;
    margin-bottom: 15vh;
    -webkit-animation: fadein 1.5s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1.5s; /* Firefox < 16 */
        -ms-animation: fadein 1.5s; /* Internet Explorer */
         -o-animation: fadein 1.5s; /* Opera < 12.1 */
            animation: fadein 1.5s;
}

.bildetekst {
    display: block;
    margin: auto;
    text-align: center;
    font-size: 6px;
    padding: 0px;
    line-height: 20px;
    letter-spacing: 1px;
    word-spacing: 1px;
    color: white;
}

.artikkelbilde_topp {
    display: block;
    margin: auto;
    margin-bottom: 80px;
    box-shadow: 8px 8px 15px 2px black;
}

.artikkelbilde {
    display: block;
    margin: auto;
    width: 600px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.artikkel_bilderamme {
    display: block;
    margin: auto;
    background-color: #333;
    width: 600px;
    border-radius: 20px;
    box-shadow: 5px 5px 20px 2px black;
}

.link_artikkel {
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    margin-left: 2px;
    color: rgba(255, 165, 0, 0.9);
}

.artikkel_overskrift {
    font-size: 62px;
    line-height: 63.25px;
    font-weight: 600;
    text-shadow: none;
    padding-bottom: 30px;
    border-bottom: .1rem solid rgba(255, 165, 0, 0.3);
}

sup {
    color: rgba(255, 255, 255, 0.6);
    line-height: 0px;
}

.sup_br br {
    display: block;
    content: "";
    margin-top: 0px;
}

.sup_br {
    border-top: 1px solid rgb(59, 64, 74);
    border-bottom: 1px solid rgb(59, 64, 74);
    color: rgba(255, 255, 255, 0.9);
    padding-top: 20px;
    padding-bottom: 20px;
}


#label_sok {
    color: rgba(255, 255, 255, 0.8);
    margin: auto;
}


/*  CSS FOR ARTIKKEL-LENKER */

.artikkelBeholder {
  padding: 0 0rem;
  margin-top: 20vh;
  margin-bottom: 50vh;
  display: grid;
  justify-content: center;
  -webkit-animation: fadein 1.5s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 1.5s; /* Firefox < 16 */
      -ms-animation: fadein 1.5s; /* Internet Explorer */
       -o-animation: fadein 1.5s; /* Opera < 12.1 */
          animation: fadein 1.5s;
}


.artikkelBoks {
    width: 300px;
    height: auto;
    background: rgb(9, 10, 11);
    background-image: linear-gradient(orange, orange, #FF6347);
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.5);
    border-radius: 20px;
    transition: 1s;
}

.artikkelBoks div {
    padding: 0px 0px 0px;
}

.artikkelBoks:hover{
}

.artikkelBoks img {

    border: .2rem solid orange;
    border-radius: 18px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 100%;
}

.artikkelBoks h2 {
    font-size: 26px;
    line-height: 32px;
    word-break: keep-all;
    color: rgba(255,255,255,1);
    padding: 30px;
    padding-bottom: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-shadow: 2px 1px black;
}


.artikkelBoks p {
    color: rgba(255,255,255, 0.9);
    text-shadow: 1px 1px black;
    text-align: left;
    line-height: 20px;
    font-size: 15px;
    font-weight: 400;
    padding: 30px;
    padding-top: 0px;
}




@media screen and (max-width: 768px) {

    .artikkelBeholder {
        margin-bottom: 100px;
        width: 100vw;
        margin: auto;
        justify-content: center;
    }

    .artikkelBoks {
        width: 95%;
        max-width: 400px;
        box-shadow: none;
        margin: auto;
        border-radius: 5px;
    }

    .artikkelBoks:first-of-type {
        margin-top: 10vh;
    }

    .artikkelBoks:last-of-type {
        margin-bottom: 20vh;
    }

    .artikkelBoks p {
        padding: 40px;
        padding-top: 0px;
    }

    .artikkelBoks img {
        width: 100%;
        max-width: 400px;
        padding: 0px;
        margin: 0px;
        border-radius: 10px;
    }

    .artikkelBoks h2 {
        padding-right: 40px;
        padding-left: 40px;
        padding-top: 20px;
    }

    .artikler_flex {
        justify-content: center;
    }

    .artikkelbilde_topp {
        display: block;
        margin: auto;
        margin-bottom: 50px;
        width: 100%;
        border-radius: 20px;
    }

    .artikkelbilde {
        display: block;
        margin: auto;
        width: 100%;
        border-radius: 20px;
    }

    .artikkel_bilderamme {
        display: block;
        margin: auto;
        background-color: black;
        padding-top: 5px;
        padding-left: 5px;
        padding-right: 5px;
        width: 100%;
        border-radius: 20px;
    }

    .bildetekst {
        line-height: 10px;
    }

    sup {
        word-wrap: break-word;
        word-break: break-all;
    }

    .artikkel_overskrift {
        font-size: 58px;
    }
}
