
.prosjekter_overskrift{
    display: table;
    font-size: 2rem;
    color: rgba(255, 255, 255, .9);
    text-shadow: 2px 2px black;
    border-bottom: solid orange 0.1rem;
    margin: auto;
    padding: 10px;
    padding-bottom: 5px;
    margin-top: 15vh;
    margin-bottom: 15vh;
    -webkit-animation: fadein 1.5s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1.5s; /* Firefox < 16 */
        -ms-animation: fadein 1.5s; /* Internet Explorer */
         -o-animation: fadein 1.5s; /* Opera < 12.1 */
            animation: fadein 1.5s;
}

.prosjekter-grid {
    background-color: rgba(255,255,255, 0.1);
    display: flex;
    min-width: 750px;
    max-width: 1000px;
    padding: 50px;
    margin: auto;
    margin-bottom: 15vh;
    box-shadow: 2px 2px 5px 2px black;
    border-radius: 50px;
    -webkit-animation: fadein 1.5s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1.5s; /* Firefox < 16 */
        -ms-animation: fadein 1.5s; /* Internet Explorer */
         -o-animation: fadein 1.5s; /* Opera < 12.1 */
            animation: fadein 1.5s;
}

.prosjekter-grid:first-of-type {
    margin-top: 20vh;
}

.prosjekter-grid:last-of-type {
    margin-bottom: 20vh;
}

.prosjekter-grid-kol-60 {
    flex: 60%;
    padding-left: 25px;
    border-left: solid rgba(255, 165, 0, 0.3) 1px;
}

.prosjekter-grid-kol-40 {
    flex: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 50px;
}

.prosjekter-grid-kol-40 img{
    width: 100%;
    min-width: 300px;
    height: auto;
    border: solid black 0.1rem;
    border-radius: 20px;
    object-fit:cover;

}

.prosjekter-grid h2{
    font-size: 32px;
    color: rgba(255, 255, 255, 1);
    text-shadow: 2px 2px black;
    padding-left: 20px;
}

.prosjekter-grid p {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.8);
    text-align: left;
    line-height: 26px;
    word-spacing: 2px;
    padding: 20px;
    padding-top: 20px;
    padding-bottom: 30px;
}

.stack {
    display: flex;
    flex-wrap: wrap;
    padding-left: 20px;
    padding-top: 10px;
}

.stack p {
    border: solid rgba(255, 165, 0, 0.7) 0.1rem;
    padding: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    font-size: 12px;
    color: white;
}



.visKode {
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background: rgb(146, 157, 254);
    border-radius: 5px;
    display: flex;
    box-shadow: 0px 0px 12px 3px black;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    align-items: center;
    transition: 0.1s;
    font-size: 14px;
    margin-right: 20px;
    margin-bottom: 10px;
    border: solid black 1px;
}

.visKode:hover {
    transform: translate(0px, -2px)
}

.visKode .fa {
    color: rgba(255, 255, 255, 1);
    margin-left: 10px;
    font-size: 16px;
}


.visKilde {
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background: inherit;
    border-radius: 5px;
    display: flex;
    box-shadow: 0px 0px 12px 3px black;
    font-weight: bold;
    color: rgb(146, 157, 254);
    text-decoration: none;
    align-items: center;
    font-size: 14px;
    margin-bottom: 10px;
    border: solid rgb(146, 157, 254) .1rem;
}

.visKilde:hover {
    transform: translate(0px, -2px)
}

.visKilde .fa {
    color: rgb(146, 157, 254);
    margin-left: 10px;
    font-weight: bold;
    font-size: 16px;
}



@media screen and (max-width: 1050px) {

    .prosjekter-grid {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        max-width: 95vw;
        width: 700px;
        min-width: 50vw;
        padding: 20px;
        margin-bottom: 5vh;
        border-radius: 5px;
        box-shadow: 2px 2px 10px 0px black;
    }

    .prosjekter-grid:first-of-type {
        margin-top: 10vh;
    }

    .prosjekter-grid:last-of-type {
        margin-bottom: 5vh;
    }

    .prosjekter-grid-kol-60 {
        width: 100%;
        border: none;
        padding: 0px;
        padding-top: 20px;
    }

    .prosjekter-grid-kol-40 {
        padding: 0px;
        margin: 0px;
        margin: auto;
        width: 100%;
        justify-content: flex-start;
    }

    .prosjekter-grid-kol-40 img{
        width: 250px;
        min-width: 100px;
        height: auto;
        margin-left: 0px;
        margin-left: 20px;
        margin-top: 20px;
        display: none;
    }
}
