
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


.forside {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
    filter: brightness(40%);
    -webkit-filter: brightness(40%);
    -moz-filter: brightness(40%);
    -o-filter: brightness(40%);
    -ms-filter: brightness(40%);
    position: absolute;
    z-index: -1;

    top: 0;
    height: 100%;
    max-height: 100%;
    width: 100%;
    margin: auto;

    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}


.forside_tekst {
    position: absolute;
    bottom: 10vh;
    left: 10vw;
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

.forside_tekst p {
    color: rgba(255, 165, 0, 0.9);
    font-size: 2.4rem;
    font-weight: 500;
    text-shadow: 2px 2px black;
    line-height: 2.7rem;
    text-align: left;
}

.forside_tittel {
    color: rgba(255, 255, 255, 0.6);
    text-shadow: 2px 2px black;
    text-align: left;
    margin: auto;
    margin-right: 0px;
    margin-top: 0px;
    font-size: 2.8rem;
    line-height: 2.7rem;
    font-weight: 500;
}




@media screen and (max-width: 768px) {

    .forside_tekst {
        bottom: 2vh;
        left: 4vw;
        margin-right: 30px;
    }

    .forside_tekst p {
        color: rgba(255, 165, 0, 0.9);
        font-size: 1.7rem;
        font-weight: 500;
        text-shadow: 2px 2px black;
        line-height: 1.8rem;
    }

    .forside_tittel {

        font-size: 1.7rem;
        line-height: 1.8rem;
    }
}
